@model WebApplication1.ViewModel.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
}


@using (Html.BeginForm()) 
{
    
    <div class="form">
        <div class="tab-group" style="font-size: 20px; text-align: center; background-color: white; color: #f59d23; ">   
            修改密碼
        </div>


        <!--舊密碼-->
        <div class="form-group">

            @Html.LabelFor(model => model.Password, new { @class = "label_01" })
            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "輸入舊密碼" })
            @Html.ValidationMessageFor(model => model.Password, null, new { @class = "label label-danger" })
        </div>
        <!--新密碼-->
        <div class="form-group">
            @Html.LabelFor(model => model.newPassword, new { @class = "label_01" })
            @Html.PasswordFor(model => model.newPassword, new { @class = "form-control", placeholder = "輸入新密碼" })
            @Html.ValidationMessageFor(model => model.newPassword, null, new { @class = "label label-danger" })
        </div>
        <!--新密碼確認-->
        <div class="form-group">
            @Html.LabelFor(model => model.newPasswordCheck, new { @class = "label_01" })
            @Html.PasswordFor(model => model.newPasswordCheck, new { @class = "form-control", placeholder = "輸入新密碼確認" })
            @Html.ValidationMessageFor(model => model.newPasswordCheck, null, new { @class = "label label-danger" })
        </div>
        <!--錯誤訊息-->
        <div class="form-group" style="color:red;">@Html.ValidationSummary()</div>
        <!--繳交-->
        <div class="form-group">
            <input class="btn_01" style="margin-top: 50px;" type="submit" value="確認修改" />
        </div>


    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
