@model WebApplication1.ViewModel.ItemViewModel

@{
    ViewBag.Title = "Edit";
}

<div class="page-header text-center" style="color: #f59d23;">
    <h3>商品管理</h3>
</div>
<div class="table-responsive">
    <table class="table table-hover">

        @if (!Model.ItemList.Equals(0))
        {;

            <thead>
                <tr>
                    <th class="text-center">@Html.DisplayNameFor(p => p.ItemList[0].Id)</th>
                    <th class="text-center">@Html.DisplayNameFor(p => p.ItemList[0].Image)</th>
                    <th class="text-center">@Html.DisplayNameFor(p => p.ItemList[0].Name)</th>
                    <th class="text-center">@Html.DisplayNameFor(p => p.ItemList[0].Price)</th>
                    <th class="text-center">
                        @Html.ActionLink("新增商品", "Create", "Item", new { @class = "btn btn-warning" })
                    </th>
                </tr>
            </thead>
            foreach (var item in Model.ItemList)
            {
                
                <tr>
                    <td class="text-center">@item.Id</td>
                    <!--商品圖片-->
                    <td class="text-center product-img">
                        <img src="@Html.Encode(Url.Content("~/images/Product/" + item.Image))" alt="">
                    </td>
                    <td class="text-center">@item.Name</td>
                    <td class="text-center">@item.Price</td>
                    <td class="text-center">
                        @Html.ActionLink("修改", "ModifyItem", new { Id = item.Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("刪除", "Delete", new { Id = item.Id }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }


        }
        else
        {
            <tr>
                <td>無商品</td>
            </tr>
        }

    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
