@model WebApplication1.ViewModel.ItemDetailViewModel

@{
    ViewBag.Title = "ItemBlock";
}


<div class="item">
    <div class="thumbnail">
        <a href="@Url.Action("Item", "Item", new { Id = Model.Data.Id})"><img src="@Html.Encode(Url.Content("~/images/Product/" + Model.Data.Image))" alt=""></a>
        <div class="caption">
            <h3 style="text-align:center;">@Html.ActionLink(Model.Data.Name, "Item", new { Id = Model.Data.Id })</h3>
            <p style="text-align:center;">$@Html.DisplayTextFor(model => model.Data.Price)</p>

            @if (User.Identity.IsAuthenticated)
            {
                <table style="width:100%;">
                    <tr>
                        <td>
                            @*@Ajax.ActionLink("放入購物車", "Put", "Cart", new { Id = Model.Data.Id, toPage = "ItemBlock", Quantity = Model.cartBuy.Quantity }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ItemBlock-" + Model.Data.Id }, new { @class = "btn btn-warning" })*@
                        </td>
                        <td style="float:right;">
                            @Html.ActionLink("商品詳情>>", "Item", "Item", new { Id = Model.Data.Id}, new { @class = "btn btn-primary" })
                        </td>
                    </tr>
                </table>
                    
            }
            
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
