@model WebApplication1.ViewModel.CartBuyViewModel

@{
    ViewBag.Title = "Index";
}

<div class="page-header" style="color: #f59d23;">
    <h3><span class="glyphicon glyphicon-shopping-cart"></span>購物車</h3>
</div>
<div class="table-responsive">
    <table class="table table-hover">
        @{
            int total_price = 0;
            int qty = 0;
            int Total = 0;
        }
        @if (!Model.DataList.Equals(0))
        {

            <thead>
                <tr>
                    <th class="text-center">@Html.DisplayNameFor(p => p.DataList[0].Item.Image)</th>
                    <th class="text-center">@Html.DisplayNameFor(p => p.DataList[0].Item.Name)</th>
                    <th class="text-center">@Html.DisplayNameFor(p => p.DataList[0].Item.Price)</th>
                    <th class="text-center">@Html.DisplayNameFor(p => p.DataList[0].Quantity)</th>
                </tr>
            </thead>
            foreach (var item in Model.DataList)
            {


                total_price += item.Item.Price * item.Quantity;
                qty += item.Quantity;

                <tr>
                    <td class="text-center product-img">
                        <a href="@Url.Action("Item", "Item", new { Id = item.Item.Id }, null)">
                            <img src="@Html.Encode(Url.Content("~/images/Product/" + item.Item.Image))" alt="">
                        </a>
                    </td>
                    <td class="text-center">
                        @Html.ActionLink(item.Item.Name, "Item", "Item", new { Id = item.Item.Id }, null)
                    </td>
                    <td class="text-center">@item.Item.Price</td>
                    <td class="text-center">@item.Quantity</td>
                    <td class="text-center">
                        @Html.ActionLink("移除", "Pop", new { Id = item.Item.Id, toPage = "Cart" }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
            
            <tr>
                <td></td>
                <td class="text-right" style="font-size: 15px; color: #f59d23;"><b>總計：</b></td>
                <td class="text-center" style="font-size: 15px;">$@total_price</td>
                <td class="text-center" style="font-size: 15px;">@qty</td>
                <td></td>
            </tr>
            if (total_price != 0)
            {
                <!--假設運費固定為50元-->
                Total = total_price + 50;
                <tr>
                    <td style="border-top: none;"></td>
                    <td class="text-right" style="font-size: 15px; color: #f59d23; border-top: none;"><b>運費：</b></td>
                    <td class="text-center" style="font-size: 15px; border-top: none;">$50</td>
                    <td style="border-top: none;"></td>
                    <td style="border-top: none;"></td>
                </tr>
            }
            <tr>
                <td style="border-top: none;"></td>
                <td class="text-right" style="font-size: 15px; border-top: none; color: #f59d23;"><b>應付金額：</b></td>
                <td class="text-center" style="font-size: 15px; border-top: none;"><b>$@Total</b></td>
                <td style="border-top: none;"></td>
                @if (total_price != 0)
                {
                    <td class="text-center" style="border-top: none;">@Html.ActionLink("結帳", "Checkout", "Cart", new { Total = Total }, new { @class = "btn btn-warning" }) </td>
                }
                else
                {
                    <td style="border-top: none;"></td>
                }
            </tr>
        }
        else
        {
            <tr>
                <td>購物車內無商品</td>
            </tr>
        }

    </table>
</div>
<!--
@*
@if (Model.isCartSave)
{
    <div class="text-center">
        <text>購物車已保存，請按此</text>
        @Html.ActionLink("取消", "CartSaveRemove", null, new { @class = "btn btn-danger" })
    </div>

}
else
{
    <div class="text-center">
        <text>購物車上為保存，請按此</text>
        @Html.ActionLink("保存", "CartSave", null, new { @class = "btn btn-warning" })
    </div>

}
*@
-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
